<h1>All Posts</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>File</th>
            <th>Title</th>
            <th>Status</th>
            <th>Category</th>
            <th>Allow Comments</th>
            <th>Created By</th>
            <th>Date</th>
            <th colspan="2">Operations</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td><a href="/posts/{{this.id}}">{{this.id}}</a></td>
            <td><img height="50" class="img-responsive" src="/uploads/{{file}}" alt=""></td>
            <td>{{this.title}}</td>
            <td>{{this.status}}</td>
            <td>{{this.category}}</td>
            <td>{{this.allowComments}}</td>
            <td><strong>{{this.user}}</strong></td>
            <td>{{generateDate this.date 'MMMM Do YYYY'}}</td>
            <td><a href="/admin/posts/edit/{{this.id}}" class="btn btn-info">Edit</a></td>
            <td>
                <form action="/admin/posts/{{this.id}}?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>